.center{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.w-100{
  width: 100%;
}

.green{
  color: green;
}

.alert-success{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  border-radius: 0px;
}

.alert-danger{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border-radius: 0px;
}
